@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary--color: #001114;
    --secondary--color:#020d0ed4;
    --tertiary--color: #03ffee;
    --text--color:#ffffff;
}

body {
    display: flex;
    min-height: 100vh;
    background: var(--primary--color);
    color: var(--text--color);
}

main {
    display: flex;
    flex-direction: column;
    margin: 35px;
    width: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--secondary--color);
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    box-shadow: 1px 1px 5px 1px var(--tertiary--color);
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    color: var(--tertiary--color);
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
    margin: 2px;

}

#user_infos span:last-child {
    color: var(--tertiary--color);
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: var(--primary--color);
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: var(--primary--color);
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiary--color);
}

.side-item.active a {
    color: var(--tertiary--color);
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid var(--tertiary--color);
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: var(--tertiary--color);
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: var(--tertiary--color);
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

/*Pacientes*/

.section-pacientes {
    text-align: center;
    padding: 30px;
    width: 100%;
    background: var(--secondary--color);
    box-shadow: 1px 1px 5px 1px var(--tertiary--color);
    border-radius: 48px;

}
.section-pacientes h1 {
    margin: 5px;
}

.div-input {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border-radius: 48px;
    background: var(--primary--color);
    height: 35px;
    width: 100%;
    
}
.div-input input {
    box-shadow: 1px 1px 5px 1px var(--tertiary--color);
    border-radius: 48px;
    height: 20px;
    width: 80%;
}
